---
import BaseHead from '../components/BaseHead.astro'
import BlogHeader from '../components/BlogHeader.astro'

import '../styles/blog.scss'

let title = 'My Astro Site'
let description = 'A starter Astro blog site'
let permalink = 'http://localhost:3000'

---




<html lang="en-AU">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>
	<body>
		<BlogHeader />
		<div class="wrapper">
			<main class="content">
				<slot />
			</main>
		</div>
	</body>
</html>

<style lang="scss">

	.content {
		margin-top: 4rem;
		margin-bottom: 8rem;
	}
</style>